<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julianbattaglino.uishowcase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/loginscreen"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcomescreen.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.DetailedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActivityTransitionDemo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".home.HomeDashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".animations.AnimationActivity"
            android:label="@string/title_activity_ui_components"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".uicomponents.UiComponentsActivity"
            android:label="@string/title_activity_ui_components"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <activity
            android:name=".lists.ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>